<header class="header">

    <div class="logo_and_name">
    <div class="logo">
        <a href="#"> 
         <img class="img_logo" src="/assets/img/logo_zenika.png" alt="logo_de_zenika" /></a>
    </div>

    <div class="titre">Zira<br>by Zenika Academy</div>

</div>
    <nav class="nav">
        <ul class="ul_nav">
            <li [routerLink]="['/connect']" *ngIf="user == null">Se connecter</li>
            
            <li (click)="authentication.logout()" *ngIf="user != null">Se Déconnecter</li>

            <li [routerLink]="['/project/new']" *ngIf="user != null">Nouveau projet</li>
        </ul>

    </nav>



</header>
