<div class="form_display">
    

    <form class="add_form" [formGroup]="updateTicketForm">
    <p class="titre_formulaire">Modifiez votre ticket !</p>
        <div>
            <label for="title"></label>
            <input id="name" type="text" formControlName="title" placeholder="Titre du ticket">
        </div>
        <div>
            <label for="content"></label>
            <textarea id="content" type="text" formControlName="content" placeholder="Contenu du ticket"></textarea>
        </div>
        <div>
            <label for="status"></label>
            <input id="status" type="text" formControlName="status" placeholder="Status du ticket : DONE, IN PROGRESS ou TODO">
        </div>
    
        <button (click)="updateTicket()" type="submit" class="btn btn-primary" [disabled]="updateTicketForm.invalid">
            Soumettre
        </button>
    </form>
    
    </div>
