<div class="form_display">
    

    <form class="add_form" [formGroup]="addTicketForm">
    <p class="titre_formulaire">Créez un nouveau ticket !</p>
        <div>
            <label for="title"></label>
            <input id="name" type="text" formControlName="title" placeholder="Titre du ticket">
        </div>
        <div>
            <label for="content"></label>
            <textarea id="content" type="text" formControlName="content" placeholder="Contenu du ticket"></textarea>
        </div>
         <div>
            <label for="status"></label>
            <input id="status" type="text" formControlName="status" placeholder="DONE, IN PROGRESS, TODO">
        </div>
     

        <button (click)="addTicket()" type="submit" class="btn btn-primary" [disabled]="addTicketForm.invalid">
            Soumettre
        </button>
    </form>
    
    </div>
