<main class="home">

    <div class ="projet_titre_ticket_add">
        <h1 id="project_title">{{projectDetail?.name}}</h1>
    <div class="wrapper_ajout_modif_projet">
        <p *ngIf="user != null" [routerLink]="['/project/', projectDetail?.id]"> Modifier un projet</p>
        <p *ngIf="user != null" (click)="deleteProject(projectDetail?.id)"> Supprimer un projet</p>
        <p *ngIf="user != null" [routerLink]="['/detail_project/', projectDetail?.id, 'ticket']"> Ajouter un ticket</p>
    </div>
    </div>

    <section class="section_container">

        <section class="section_status" >
            <h2 class="status_column_title">TO DO</h2>
            <div class="section_title" *ngFor="let ticket of projectDetail?.tickets">

                <div class="card_ticket"*ngIf="ticket.status === 'TODO'">

                    <h2 class="ticket_title">{{ticket.title}}</h2>
                    <p class="ticket_description">{{ticket.content | slice:0:200}}</p>
                    
                    <p class="ticket_date">{{ticket.created_at | date:'d,MMMM,y'}}</p>

                    <div class="wrapper_modif_delete_ticket">
                    <p class="ticket_update" [routerLink]="['/detail_project/', projectDetail?.id, 'ticket', ticket.id]">Modifier ce ticket</p>
                    <p class="ticket_update" (click)="deleteTicket(ticket.id)">Supprimer ce ticket</p>
                    </div>
                    
                </div>
            </div>

        </section>

        <section class="section_status" >
            <h2 class="status_column_title">IN PROGRESS</h2>
            <div class="section_title" *ngFor="let ticket of projectDetail?.tickets">

                <div class="card_ticket"*ngIf="ticket.status === 'IN PROGRESS'">

                    <h2 class="ticket_title">{{ticket.title}}</h2>
                    <p class="ticket_description">{{ticket.content | slice:0:200}}</p>
                    
                    <p class="ticket_date">{{ticket.created_at | date:'d,MMMM,y'}}</p>

                    <div class="wrapper_modif_delete_ticket">
                    <p class="ticket_update" [routerLink]="['/detail_project/', projectDetail?.id, 'ticket', ticket.id]">Modifier ce ticket</p>
                    <p class="ticket_update" (click)="deleteTicket(ticket.id)" >Supprimer ce ticket</p>
                    </div>
                    
                </div>
            </div>

        </section>

        <section class="section_status" >
            <h2 class="status_column_title">DONE</h2>
            <div class="section_title" *ngFor="let ticket of projectDetail?.tickets">

                <div class="card_ticket"*ngIf="ticket.status === 'DONE'">

                    <h2 class="ticket_title">{{ticket.title}}</h2>
                    <p class="ticket_description">{{ticket.content | slice:0:200}}</p>
                    
                    <p class="ticket_date">{{ticket.created_at | date:'d,MMMM,y'}}</p>

                    <div class="wrapper_modif_delete_ticket">
                    <p class="ticket_update" [routerLink]="['/detail_project/', projectDetail?.id, 'ticket', ticket.id]">modifier ce ticket</p>
                    <p class="ticket_update" (click)="deleteTicket(ticket.id)">Supprimer ce ticket</p>
                    </div>
                    
                </div>
            </div>

        </section>
    </section>
</main>

