/* --- H E A D E R --- */

.header {

    width: 100%;
    display: flex;
    margin-bottom: 2em;
}

.logo {

    width: 8%;
    margin-top: 2em;
    margin-left: 6em;
}

.logo_and_name {

    display: flex;
    width:90%;
}

.img_logo {

    width:100%;
}

.titre {

    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    font-size: larger;
    padding-top: 2.3em;
    margin-left: 1.8em;
    vertical-align: middle;
}

.nav {
    margin-right: 2em;
    font-size: medium;
    margin-top: 3em;
}

.ul_nav {

    list-style: none;
    display: flex;
    font-family: 'Nunito', sans-serif;
    padding: 0;

}

.ul_nav > li {

    margin-right: 2em;
    text-align: center;
    
}

.ul_nav > li:hover {

    cursor: pointer;
   
    color: #EE2238;
    
}


/* --- H O M E--- */
.home {

    width: 95%;
    height: 90vh;
    border-radius: 20px;
    
    margin: auto;
}

.section_container {

    display:flex;
    width: 90%;
    margin: auto;
    justify-content: space-between;
}

.project_line {

    width: 50%;
    border-radius: 20px;
    background-color: #F6F5F8;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
    padding: 1em;

}

.project_line_content {

    font-family: 'Nunito', sans-serif;
    
}

.project_line:hover{

   cursor: pointer;
   
   box-shadow: 5px 5px 5px 1px rgb(206, 204, 204);

    
}

.wrapper_section {

    margin-top: 2em;
}

/* --- D E T A I L--- */


.section_status {

    width: 35%;
    height: 100vh;
    background-color: #F6F5F8;
    margin-right: 1em;
}

/* .section_title {

    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    margin-left: 1.2em;
    margin-top: 1em;

} */

#project_title {

    margin:auto;
    width: 20%;
    margin-bottom: 1em;
    font-family: 'Nunito', sans-serif;
    font-size:x-large;
    margin: 0;
    margin-left: 2.5em;
   
}

.status_column_title {

    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    margin-left: 1.2em;
    margin-top: 1em;
    font-size: medium;
}

.projet_titre_ticket_add {

    display: flex;
    justify-content:space-between;
    align-items: center;
    width: 90%;

 
}

.projet_titre_ticket_add > p {

    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    

}

.projet_titre_ticket_add > p:hover {
    
    cursor: pointer;
    color:#EE2238;

}

.wrapper_ajout_modif_projet {

    display:flex;
    

}

.wrapper_ajout_modif_projet > p {

    margin-right:1em;
    font-family: 'Nunito', sans-serif;

}

.wrapper_ajout_modif_projet > p:hover {

    margin-right:1em;
    font-family: 'Nunito', sans-serif;
    color:#EE2238;
    cursor: pointer;

}


/* --- TICKET CARD --- */

.card_ticket {

    width:90%;
    height: 30vh;
    padding: 0.5em;
    margin: auto;
    margin-top: 1.8em;
    background-color: white;
    box-shadow: 5px 5px 5px 1px rgb(206, 204, 204);


}

.card_ticket:hover {

    cursor: pointer;
    box-shadow: 7px 7px 7px 2px rgb(148, 144, 144);

}

.ticket_title {

    font-family: 'Nunito', sans-serif;
    font-size: medium;
    color: #EE2238;
    padding-top: 0.7em;
    padding-left:0.7em;
}

.ticket_description {

    padding-left:0.7em;
    font-family: 'Nunito', sans-serif;
    font-size: small;
}

.ticket_date{

    padding-left:0.7em;
    font-family: 'Nunito', sans-serif;
    font-size: small;
    font-weight: 600;
    margin-left: 16em;

}

.ticket_update {

    padding-left:0.7em;
    font-family: 'Nunito', sans-serif;
    font-size: small;
    font-weight: 600;
}

.ticket_update:hover {

   
    color: #EE2238;
    

}

.wrapper_modif_delete_ticket {

    display:flex;
    margin-top: 2em;
}


/* --- F O R M --- */

.form_display {

    width: 70%;
    margin: auto;
}

.add_form {

    
    width: 90%;
    margin: auto;
}

.titre_formulaire {

    font-family: 'Nunito', sans-serif;
    font-size: x-large;
    font-weight: 800;

}

form {

    text-align: center;
}


input, textarea {

    margin-bottom: 1em;
    font-size: larger;
}

textarea {

    width: 12em;
}

::placeholder {

    font-size: 0.85em;

}