<main class="home">

    <h1 id="project_title">Liste des projets</h1>

<div class="wrapper_section">
    
    <section class="section_container" *ngFor="let project of projectsData">

        <section class="project_line" [routerLink]="['/detail_project', project.id]">

            <div class="project_line_content">{{project.name}}</div>
            <div class="project_line_content">{{project.createdAt | date:'d,MMMM,y'}}</div>
            
            
        </section>
        
    </section>
    
</div>
