<div class="form_display">
    

<form class="add_form" [formGroup]="addProjectForm">
<p class="titre_formulaire">Créez un nouveau projet !</p>
    <div>
        <label for="name"></label>
        <input id="name" type="text" formControlName="name" placeholder="Nom du projet">
    </div>
    <div>
        <label for="description"></label>
        <textarea id="description" type="text" formControlName="description" placeholder="Description du projet"></textarea>
    </div>

    <button (click)="addProject()" type="submit" class="btn btn-primary" [disabled]="addProjectForm.invalid">
        Soumettre
    </button>
</form>

</div>